{% extends 'base.html.twig' %}

{% block title %}Catégorie - Édition{% endblock %}

{% block body %}
    <br/>
    <h1>Édition de {{ category.name }}</h1>
    <hr>
    {{ include('category/_form.html.twig', {'button_label': 'Valider'}) }}
{% endblock %}
