{% extends 'base.html.twig' %}

{% block title %}Catégorie - Ajout{% endblock %}

{% block body %}
    <br/>
    <h1>Créer une catégorie</h1>
    <hr>
    {{ include('category/_form.html.twig') }}
{% endblock %}
