{% extends 'base.html.twig' %}

{% block title %}Administrateur - Édition{% endblock %}

{% block body %}
    <br/>

    <h1>Édition de l'administrateur {{ admin_user.username }}</h1>

    <hr>

    {{ include('admin_user/_form.html.twig') }}


{% endblock %}
